mixin recent__music(music)
  .main__container__recent__music.music(data-ytId=music.ytId,data-title=music.title,data-singer=music.singer,data-coverImg=music.coverImg,data-album=music.albumTitle)
    img.main__container__recent__music__img(src=`${music.coverImg}`)
    .main__container__recent__music__info
      .main__container__recent__music__title
        span=music.title
      .main__container__recent__music__singer
        span #{music.singer} | #{music.albumTitle}