extends layout.pug

block content 
  h1=music.title
  h3 가수: #{music.singer}
  h3 앨범명: #{music.albumTitle}
  img(src=`${music.coverImg}`)
  a(href=`/music/${music.id}/edit`) Edit Music &rarr; 
  br
  a(href=`/music/${music.id}/delete`) Delete Music &rarr;