extends layout.pug
include mixins/music.pug

block content 
  h1 Play
  //- div#player(style="display:none;")
  div#player

  button#playBtn.play Play
  button#stopBtn Stop
  button#muteBtn.mute Mute
  input(type="range" step="1" min="0" max="100" value="50")#volume
  input(type="range" value="0")#duration
  span#time 00:00/00:00 
  div 
    each music in musics 
      div.musicContainer(data-ytId=music.ytId,data-title=music.title,data-singer=music.singer)
        h3#musicTitle=music.title 
        ul 
          li Singer: #{music.singer}
          img(src=`${music.coverImg}`)
    else 
      h3 Sorry. No found.
  script(src="/playMusic.js") 