extends layout.pug
include mixins/music.pug

block content 
  h1 Play
  div#player(style="display:none;")
  button#playBtn.play Play
  button#stopBtn Stop
  div 
    each music in musics 
      div.musicContainer(data-ytId=music.ytId,data-title=music.title,data-singer=music.singer)
        h3#musicTitle=music.title 
        ul 
          li Singer: #{music.singer}
          img(src=`${music.coverImg}`)
    else 
      h3 Sorry. No found.
  script(src="/playMusic.js") 