div#g_id_onload
  data-client_id="160948580580-q23l6mhjes0pqcto03d45quvmfr8sj9l.apps.googleusercontent.com"
  data-context="signin"
  data-ux_mode="popup"
  data-login_uri="http://localhost:4000/login-google"
  data-itp_support="true"

div.g_id_signin
  data-type="standard"
  data-shape="rectangular"
  data-theme="filled_blue"
  data-text="signin_with"
  data-size="large"
  data-logo_alignment="left"